---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import ProjectCard from "@components/ProjectCard.astro"
import { l, t, extractRouteLangCode } from "astro-i18n"
import { getSlugWithoutLang } from "../content/_utils"

const lang = extractRouteLangCode(Astro.request.url)

let entries = await getCollection("projects", (entry) => {
  const entryLang = entry.slug.split("/")[0]
  return entryLang === lang
})
entries.sort((a, b) => b.data.order - a.data.order)
---

<Layout title={t("pageTitle.projects")}>
  <main class="mt-16">
    <ul class="grid gap-16 max-w-4xl mx-auto">
      {
        entries.map(({ slug, data }) => (
          <li>
            <a href={l(`/projects/${getSlugWithoutLang(slug)}`)}>
              <ProjectCard
                title={data.title}
                image={data.image}
                imageAlt={data.imageAlt}
                category={data.category}
                tags={data.tags}
                description={data.description}
                year={data.year}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
