---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import ProjectCard from "@components/ProjectCard.astro"
import { t } from "astro-i18n"
const lang = Astro.locals.lang

let entries = await getCollection("projects", (entry) => {
  const entryLang = entry.slug.split("/")[0]
  return entryLang === lang
})
entries.sort(function (a, b) {
  return b.data.added.valueOf() - a.data.added.valueOf()
})
---

<Layout title={t("pageTitle.projects")}>
  <main class="mt-16">
    <ul class="grid gap-16 max-w-4xl mx-auto">
      {
        entries.map(({ slug, data }) => (
          <li>
            <a href={`/${lang}/projects/${slug.substring(3)}`}>
              <ProjectCard
                title={data.title}
                image={data.image}
                imageAlt={data.imageAlt}
                category={data.category}
                tags={data.tags}
                description={data.description}
                added={data.added}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
