---
import LinkButton from "@components/LinkButton.astro"
import { Icon } from "astro-icon"

const { title, subtitle, image, imageAlt, actions } = Astro.props
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <img class="rounded-full" src={image.src} width="300" height="300" alt={imageAlt} />
  </div>
  <div>
    <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      {title}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {subtitle}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      {
        actions.map(({ text, link, icon, classes }) => (
          <LinkButton
            href={link}
            target="_blank"
            class={`flex gap-1 items-center justify-center ${classes}`}
          >
            {text}
            <Icon class="text-white w-5 h-5 ml-1" name={icon} />
          </LinkButton>
        ))
      }
    </div>
  </div>
</main>
